# Solana RPC URL (defaults to devnet)
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com

# Generate your own Mints or use sample token
# testing with USDC devnet mint: 4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
NEXT_PUBLIC_TRACKED_MINTS=xxx
